<div class="section-title text-align-center">
    <h1 class="title">Hello and welcome, we are Brankic1979, one of <a href="http://themeforest.net">ThemeForest's</a> top authors.</h1>
	<p>We like to make things for web, in fact we are little bit too obsessed.</p>	
</div>
	
<div class="slideshow-container jsonly">					
    <div class="flexslider" id="index-slider">
		<ul class="slides">
				<li>
					<a href="#"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/slider1.jpg"))" alt="" /></a>
					<p class="flex-caption">This is a place for a brief description.</p>
				</li>
				<li>
					<a href="#"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/slider2.jpg"))" alt="" /></a>
					<p class="flex-caption">Here we go again, history repeating!</p>
				</li>
				<li>
					<a href="#"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/slider3.jpg"))" alt="" /></a>
				</li>
				<li>
					<a href="#"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/slider4.jpg"))" alt="" /></a>
					<p class="flex-caption">Promise I'll stop...one day.</p>
				</li>
		</ul>
	</div>
</div>

<ul class="grid row3 services">
		<li>
            <a href="@Url.Content("~/Resume")">
			<div>
				<h2>Resume</h2>
				<img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/icon1.2.png"))" alt="" />
				<p>Sed ut perspiciatis unde omnis iste natus voluptatem fringilla tempor dignissim at, pretium et arcu.</p>
			</div>	
            </a>			
	    </li>
		<li>
            <a href="@Url.Content("~/Blog")">
			<div>
				<h2>Blog</h2>
				<img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/icon4.2.png"))" alt="" />
				<p>Accusantium et doloremque veritatis architecto, eaque ipsa quae ab illo inventore veritatis perspiciatis.</p>
			</div>	
            </a>			
		</li>
		<li>
			<a href="@Url.Content("~/Contact")">
            <div>
				<h2>Contact</h2>
				<img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/icon5.2.png"))" alt="" />
				<p>Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>
			</div>
            </a>		
		</li>
</ul>